<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body style="background-color: black;" class="container">

    <main>
        <center>
        <div class="jumbotron" style="margin-top: 40vh;">
            <h1 style="font-family: 'Courier New', Courier, monospace; color: blanchedalmond;">Logged In</h1>
            </div>
        </center>
    </main>
</body>

</html>